@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap");
@import "tailwindcss";

:root {
  --color-wine: #3b0d11;
}

body {
  background: #ededed;
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
}

.jacques-francois-shadow-regular {
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #3b0d11;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center; /* centrer horizontalement */
  align-items: center;
  padding: 20px;
}

.back {
  background: #3b0d11;
  color: white;
  transform: rotateY(180deg);
}

.slider {
  overflow: hidden;
  width: 100%;
}

.slide-track {
  display: flex;
  width: max-content; /* important */
  animation: scroll 20s linear infinite;
}

.slide {
  width: 500px;
  flex-shrink: 0;
}

.carousel-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 769px) {
  .slide {
    width: 250px;
  }

  .carousel-img {
    height: 250px;
  }
}
