@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap");
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-wine: #3b0d11;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.jacques-francois-shadow-regular {
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #3b0d11;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center; /* centrer horizontalement */
  align-items: center;
  padding: 20px;
}

.back {
  background: #3b0d11;
  color: white;
  transform: rotateY(180deg);
}
